// フォントカラー
$main-color--b: #000000;
$main-color--w: #ffffff;
$main-color--gray: #8f8f8fe6;

$site-color01: #6D0000;
$site-color01-hover: #6d00006c;

$main-color--tel: #df2323;
$main-color--textShadow-start: #7488a31e;
$main-color--textShadow-end: #7488a349;



// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;
$modal-bg:#1e1e1ee6;
$modal-close--bg:#c9c8c8;
$contact-hover--bg: #e3d8c434;

// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;

// その他
$yellow-b: #ffd40099;
$pink-t: #E76179;
$red: #FF0100;
$contact-item-1: #000000;
$contact-item-2: #4D4D4D;
$contact-item-3: #868686;
$contact-item-4: #CACBCB;
$swiper-title_balloon: #635F3A;
$swiper-active: #CEBB74;



// ホバー関係
$nav-hover-bg: #33261573;
$nav-active-bg: #50462a;
$parkBtn-c: linear-gradient(180deg, #1687ed, #14375a);
$ballParkBtn-c: linear-gradient(180deg, #29ABE2, #1f6f92);
$amusementBtn-c: linear-gradient(180deg, #1ab1a7, #155854);
$museumBtn-c:  linear-gradient(180deg, #43BF7B, #247046);