// flex関係（コンテンツの横並び）
.l-flex--area{
	height: 100%;
	.l-flex--contents{
		&.-r{
			flex-direction: row-reverse;
		}
		&.-r_pc{
			@include mq(tb){
				flex-direction: row-reverse;
			}
		}
		.flexItem{
			&.-youtubeBox{
				padding: 0 5vw;
				@include mq(tb){
					padding: 0 1.5vw;
				}
				&.-left{
					@include mq(tb){
						padding: 0 1.5vw 0 0;
					}
				}
				&.-right{
					@include mq(tb){
						padding: 0 0 0 1.5vw;
					}
				}
			}
		}
		&.-f01{
			display: flex;
			@include mq(sp){
				flex-wrap: wrap;
			}
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-between;
			}
			&.-center{
				justify-content: center;
			}
			.flexItem{
				width: 100%;
				@include mq(tb){
					width: 50%;
				}
				&--nTitleArea{
					position: relative;
					padding-left: 25%;
					@include mq(tb){
						padding-left: 25%;
					}
					&::after{
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);

						font-size: 17vw;
						color: #C9CACA;
						font-family: "garamond-premier-pro-display", serif;
						font-weight: 400;
						font-style: normal;
						letter-spacing: 5px;
						@include mq(tb){
							font-size: 7vw;
							font-style: italic;
						}
					}
					&.-n01{
						&::after{
							content:"01";
						}
					}
					&.-n02{
						&::after{
							content:"02";
						}
					}
					&.-n03{
						&::after{
							content:"03";
						}
					}
				}
				&--text{
					// @include mq(tb){
					// 	padding: 0 10%;
					// }
					&:nth-child(1){
						@include mq(tb){
							width: 47%;
						}
					}
				}
			}
			&.-mapArea{
				@include mq(sp){
					margin: 0 1vw;
				}
			}
		}
		&.-f04{
			display: flex;
			@include mq(sp){
				flex-wrap: wrap;
			}
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-between;
			}
			.flexItem{
				width: 100%;
				@include mq(tb){
					width: 25%;
					margin: 0 10px;
				}
				&--text{
					// @include mq(tb){
					// 	padding: 0 10%;
					// }
					&:nth-child(1){
						@include mq(tb){
							width: 47%;
						}
					}
				}
			}
			&.-mapArea{
				@include mq(sp){
					margin: 0 1vw;
				}
			}
		}

		&.-header-top{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			padding: 1vh 2.5vw 0;
			@include mq(tb){
				flex-wrap: nowrap;
				padding: 1.5vh 0 0;
			}
			.flexItem{
				&.-logoArea{
					@include mq(sp){
						width: 100%;
						padding: 1vh 30px;
					}
					@include mq(tb){
						width: calc(20%);
						margin-left: auto;
					}
				}
				&.-center-contentsArea{
					margin: auto;
					span{
						width: auto;
					}
					@include mq(sp){
						width: 100%;
						padding: .5vh 25px;
					}
					@include mq(tb){
						width: calc(50%);
						padding: 0 5.1%;
					}
					@include mq(pc){
						margin-top: 0.7%;
					}
				}
				&.-right-contactArea{
					width: calc(30%);
					margin-right: auto;
					p{
						margin-top: .5vh;
					}
				}
			}
		}
		&.-header-c-inner{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-evenly;
			align-items: center;
		}
		&.-header-contactArea,
		&.-footer-contactArea{
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			border: 1px solid $site-color01;
			.flexItem{
				width: 50%;
				a{
					display: block;
					width: 100%;
					height: 100%;
					transition: .5s all;
					span{
						padding: 1vh 0 2.8vh;
					}
					&:hover{
						transform: scale(1.1);
					}
				}
			}
		}
		&.-columnBox{

			align-items: center;
			@include mq(tb){
				display: flex;
				flex-wrap: nowrap;
				justify-content: space-around;
			}
			.flexItem{
				padding: 2% 0;
				&.title{
					@include mq(tb){
						width: 30%;
					}
				}
				&.des{
					@include mq(tb){
						width: 70%;
					}
				}
			}
		}


		&.-flexContent__box{
			display: flex;
			@include mq(sp){
				flex-wrap: wrap;
			}
			@include mq(tb){
				flex-wrap: nowrap;
			}
			.flexItem{
				@include mq(sp){
					&:nth-child(1){
						width: 100%;
						// padding-right: 5%;
					}
					&:nth-child(2){
						width: 100%;
					}
				}
				@include mq(tb){
					&:nth-child(1){
						width: 60%;
						padding-right: 5%;
					}
					&:nth-child(2){
						width: 40%;
					}
				}
			}
		}
		&.-flexContent__box02{
			display: flex;
			@include mq(sp){
				flex-wrap: wrap;
			}
			@include mq(tb){
				flex-wrap: nowrap;
				padding: 0 10%;
			}
			.flexItem{
				@include mq(sp){
					&:nth-child(1){
						width: 100%;
						padding-right: 50%;
					}
					&:nth-child(2){
						width: 100%;
					}
				}
				@include mq(tb){
					&:nth-child(1){
						width: 35%;
						padding-right: 5%;
					}
					&:nth-child(2){
						width: 75%;
					}
				}
			}
		}

		&.-f-kukakuArea{
			display: flex;
			flex-wrap: nowrap;
			flex-flow: column;
			.flexItem{
				width: 100%;
				&.-concept-kukakuArea{
					&-01{
						@include mq(sp){

						}
						@include mq(tb){
							order: 2;
						}
					}
					&-02{
						@include mq(sp){

						}
						@include mq(tb){
							order: 1;
						}
					}
					&-03{
						order: 3;
					}
				}
			}
		}
		&.-f-borderBox{
			display: flex;
			flex-wrap: wrap;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
			}
			.flexItem{
				// ボーダーボックス > タイトル
				&.-b-titleArea{
					height: 100%;
					align-items: center;
					@include mq(tb){
						position: relative;
						width: 25%;
					}
					&::after{ // 矢印
						@include mq(tb){
							content: "";
							position: absolute;
							top: 50%;
							right: -3%;
							transform: translateY(-50%);
	
							width: 0;
							height: 0;
							border-left: 15px solid #333333;
							border-top: 15px solid transparent;
							border-bottom: 15px solid transparent;
						}
					}
				}
				// ボーダーボックス > 内容
				&.-b-textArea{
					@include mq(tb){
						width: 75%;
						padding-left: 5%;
					}
				}
			}
		}
		&.-f-PABM-btn{
			display: flex;
			flex-wrap: wrap;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-around;
			}
			.flexItem{
				@include mq(sp){
					width: 48%;
					margin: 0 3px;
				}
				@include mq(tb){
					width: 25%;
					margin: 0 5px;
				}
				&.-left{
					margin: 0 5px 0 0;
				}
				&.-right{
					margin: 0 0 0 5px;
				}
			}
		}



		// スマホ > 横並び
		&.-setsubi-itemArea_sp{
			display: flex;
			@include mq(sp){
				flex-wrap: nowrap;
				justify-content: space-between;
			}
			.flexItem{
				&:nth-child(1){
					@include mq(sp){
						width: 50%;
						padding-right: 2.5%;
					}
				}
				&:nth-child(2){
					@include mq(sp){
						width: 50%;
						padding-left: 2.5%;
					}
				}
			}
		}

		&.-tel{//電話番号エリア
			display: flex;
			flex-wrap: nowrap;
			width: 300px;
            margin: auto;
			align-items: center;
			justify-content: center;
			@media screen and (min-width: 767px){
				width: 1000px;
			}
			.flexItem{
				&:first-child{// 電話ロゴ
					padding-right:5px;
					svg{
						width: 25px;
						@media screen and (min-width: 767px){
							width: 34px;
						}
					}
				}
				&:last-child{// 電話番号
					width: auto;
					padding-left: 5px;
					@media screen and (min-width: 767px){
					}
				}
			}
		}
		&.-contact{//お問い合わせ
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				max-width: 1170px;
			}
			.flexItem{
				width: 35vw;
				@include mq(tb){
					width: 15vw;
				}
			}
		}
		&.-contact02{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				max-width: 1350px;
			}
			.flexItem{
				width: 32vw;
				margin-bottom: 2vw;
				@include mq(tb){
					width: 12vw;
					margin-bottom: auto;

				}
			}
		}
		&.-contact03{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				// max-width: 1290px;
			}
			.flexItem{
				width: 42vw;
				margin-bottom: 5vw;
				@include mq(tb){
					width: 20vw;
					margin-bottom: auto;
				}
			}
		}
		&.-contact-box{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
			}
			.flexItem{
				width: calc(50%);
				@media screen and (min-width: 768px){
					width: 25%;
				}

				&:nth-child(1){
					.l-linkImg{
						background: $contact-item-1;
					}
				}
				&:nth-child(2){
					.l-linkImg{
						background: $contact-item-2;
					}

				}
				&:nth-child(3){
					.l-linkImg{
						background: $contact-item-3;
					}

				}
				&:nth-child(4){
					.l-linkImg{
						background: $contact-item-4;
					}
				}
			}
		}
		&.-tab-box{
			width: 90vw;
			margin: auto;
			@include mq(tb){
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				width: 80vw;
				max-width: 1170px;
			}
			.flexItem{
				@include mq(sp){
					width: 90%;
					margin: 0 auto 10px;
				}
				@include mq(tb){
					width: calc(50% - 10px);
					margin: 5px;
				}
			}
		}
	}
}

.-s-location{
	@media screen and (min-width: 768px){
		width: 95%;
		max-width: 1260px;
		height: auto;
		margin: auto;
	}
	.thumbnail{
		.swiper-wrapper{
			flex-wrap: wrap;
			@media screen and (min-width: 768px){
				flex-wrap: wrap;
			}
		}
	}
}