
.iconArea{
    .svg-icon{
        padding: 5% 0;
        &.-active{
            color: white;
            background: $nav-active-bg;
            .svg-inner{
                // stroke: white !important;
                fill: white !important;
            }
        }
        .svg-inner{
            padding: 0 38%;
            // &:hover{
        
            // }
            // &.-top{
        
            // }
        }
    }
}


