
.l-text{
    line-height: 1.7;
    &.-lh-1{
        line-height: 1;
    }
    &.-sp-lh-1{
        @include mq(sp){
            line-height: 1;
        }
    }
    &.-sp-lh-1_5{
        @include mq(sp){
            line-height: 1.5;
        }
    }
    &.-lh-2{
        line-height: 2;
    }
    &.-lh-25{
        line-height: 2.5;
    }

        // 大きさ
        &.-size10{
            font-size: 12px;
            @include mq(sp){
                font-size: 10px;
            }
        }
        &.-sizeM{
            font-size: 12px;
            @include mq(tb){
                font-size: clamp(12px, 1.3vw, 18px);
            }
            &.-v02{
                @include mq(tb){
                    font-size: clamp(12px, 1vw, 18px);
                }
            }
            &.-v03{
                @include mq(tb){
                    font-size: clamp(10px, 1vw, 16px);
                }
            }
        }
        &.-sizeL{//24px
            font-size: 18px;
            @include mq(tb){
                font-size: clamp(10px, 1.8vw, 24px);
            }
            &.-s15{
                @include mq(sp){
                    font-size: 15px;
                }
            }
            &.-s16{
                @include mq(sp){
                    font-size: 16px;
                }
            }
    
        }
        &.-sizeLL{//30px
            font-size: 18px;
            @include mq(tb){
                font-size: clamp(10px, 2.5vw, 28px);
            }
            &.-s24{
                @include mq(sp){
                    font-size: 24px;
                }
            }
            &.-s17{
                @include mq(sp){
                    font-size: 17px;
                }
            }
            &.-s18{
                @include mq(sp){
                    font-size: 18px;
                }
            }
        }
        &.-size3L{//35px
            font-size: 20px;
            &.-s30{
                @include mq(sp){
                    font-size: 30px;
                }
            }
            &.-s32{
                @include mq(sp){
                    font-size: 32px;
                }
            }
            @include mq(tb){
                font-size: 2.5rem;
            }
            @include mq(tb-pc1400){
                font-size: 4rem;
            }
        }
        &.-size4L{//48px
            font-size: 60px;
            @include mq(tb){
                font-size: 5.5rem;
            }
            @include mq(tb-pc1400){
                font-size: 7rem;
            }
            &.-v02{
                
                @include mq(tb){
                    font-size: 5.5rem;
                }
            }
        }
    // 位置
    &.-left{text-align: start;}
    &.-center{text-align: center;}
    &.-right{text-align: end;}

    &.-sp-left{
        @include mq(sp){
            text-align: start !important;
        }
    }
    &.-sp-center{
        @include mq(sp){
            text-align: center !important;
        }
    }


    &.-p{
        position: relative;
    }
    &.-hp-c{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 15px;
    }
    &.-pd-left{
        padding-left: 15px;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-45%);
            width: 2px;
            height: 85%;
            background: #333333;
        }
    }
    // 太さ
    &.-b{font-weight: bold !important;}

    // 形
    &.-family01{//リュウミン
        font-family: "a-otf-ryumin-pr6n", serif;
        font-weight: 300;
        font-style: normal;
    }
    &.-family02{//遊ゴシック
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }
    &.-family03{//ゴシック
        // font-family: "source-han-sans-japanese", sans-serif;
        // font-weight: 700;
        // font-style: normal;
    }
    &.-family04{//garamond
        // font-family: "garamond-premier-pro-display", serif;
        // font-weight: 500;
        // font-style: italic;
    }
    &.-family05{//メイリオ
        // font-family:'メイリオ', 'Meiryo', sans-serif;
    }

    &.-REQUEST{
        background: white;
        a{
            span{
                position: relative;
                display: block;
                &::after{
                    content: "REQUEST";
                    font-size: .65vw;
                    position: absolute;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }
        }

    }
    &.-RESERVE{
        background: $site-color01;
        span{
            position: relative;
            display: block;
            &::after{
                content: "RESERVE";
                font-size: .65vw;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    &.-TOP{
        position: relative;
        &::after{
            content: "TOP";
            font-size: .6vw;
            font-weight: bold;
            position: absolute;
            top:20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &.-CONCEPT{
        position: relative;
        &::after{
            content: "CONCEPT";
            font-size: .6vw;
            font-weight: bold;
            position: absolute;
            top:20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &.-BUILT{
        position: relative;
        &::after{
            content: "BUILT HOUSE";
            font-size: .6vw;
            font-weight: bold;
            position: absolute;
            top:20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &.-SETSUBI{
        position: relative;
        &::after{
            content: "EQUIPMENT";
            font-size: .6vw;
            font-weight: bold;
            position: absolute;
            top:20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &.-LOCATION{
        position: relative;
        &::after{
            content: "LOCATION";
            font-size: .6vw;
            font-weight: bold;
            position: absolute;
            top:20%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    &.-JYUKYO{
        position: relative;
        &::after{
            content: "JYUKYO QUALITY";
            font-size: .5vw;
            font-weight: bold;
            position: absolute;
            top:20%;
            left: 50%;
            transform: translate(-50%,-50%);
            @include mq(tb){
                font-size: .3vw;
                line-height: 1.2;
            }
            @include mq(pc){
                font-size: .5vw;
                line-height: 1.7;
            }
        }
    }

    // 色
    &.-white{
        color: white;
        a{
            color: white;
        }
    }
    &.-black{
        color: black;
        a{
            color: black;
        }
    }
    &.-red{
    }
    &.-blue{
    }
    &.-green{
        text-shadow: 1px 1px 10px rgb(236, 236, 236);
    }
    &.-pink{
        // color: $text-pink;
        text-shadow: 1px 1px 10px rgb(238, 238, 238);
    }
    &.-s-white{
        text-shadow: 2px 2px 3px white;
    }
    &.-site-c{
        color: $site-color01;
        a{
            color: $site-color01;
        }
    }
}